html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 95%;
    width: 95%;
    margin: auto;
}

.mainArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

#opponentUserInfo {
    flex-grow: 1;
}

#myUserInfo {
    flex-grow: 1;
}

.userInfoArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.gameArea {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    justify-content: center;

    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px
}

.gameInfoArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.chatArea {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
}

#gameInfo {
    flex-grow: 1;
}

#chatLog {
    flex-grow: 8;
}

#chatInput {
    flex-grow: 1;
}

.elem {
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px
}

.infoElem {
    position: relative;
    border-radius: 10px;
    height: 80px;
    width: auto;
    padding: 10px;
    margin: 10px;

    --md-elevation-level: 1;
}

